@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    }

html,
body {
    font-family:  'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1ec;
    color: #2b2b2b;

}

#site-header {
    padding: 60px 20px 60px 20xp;
}

main {
    max-width: 920px;
    margin: 0 auto;
    margin-top: -35px;
    position: relative;
}
aside{
    max-width: 920px;
    margin: 0 auto;
}


    


.topBar {
    height: 230px;
    width: 100%;
    background-image: linear-gradient(rgba(110, 110, 110, 0.5), rgba(114, 113, 113, 0.5)), url(../media/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-bottom: 3px solid hsl(45, 90%, 60%);
    position: relative;
    }
    
 nav {
    margin-top: 42px;
 }  

 .titoloHeader {
    display: block;
    padding-top: 50px;
 }

 .titoloHeader h1 ,
 .titoloHeader p {
    text-align: center;
 }


.topBar h1 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    
    text-shadow: 2 3px 4px 0 3px 10px rgba(0, 0, 0, 0.4);
}

.topBar p{

    color: #f0e7c8;
    font-style: italic;
}

.topBar ul li {
     color: #e9ebee; 
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 1px;
    border-radius: 5px;
    padding-bottom: 8px;
}
    
.topBar ul li:hover {
    border:  hsl(45, 90%, 60%);
    background-color:  hsl(45, 90%, 60%);

}

 .barEsterna{
    width: 200px;
    background-color: #f4f1ec;
    height: 12px;
    margin-top: 10px;
    border-radius: 6px;
    
} 

.barDOC {
    background-color: hsl(45, 90%, 60%);
    height: 100%;
    border-radius: 6px;
}

.topBar ul li:not(:last-child) {
    margin-right: 3px;
}

.topBar ul li a {
    color: #e9ebee;
    font-weight: bold;
    text-decoration: none;
}

.topBar ul li a:hover {
    color: #2b2b2b;
    font-style: bold;
    border: 1px solid hsl(45, 90%, 60%);;
    
    padding: 2px;
    border-radius: 5px;
    padding: 2px 6px;
    
}



.imgPersonale {
    background-image: url(../media/img/pexels-kampus-8353812.jpg);
    background-size:cover;
    background-position: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid hsl(45, 90%, 60%);
    float: left;
    margin-right: 8px;
}

.containerChiSono p:first-of-type::first-letter {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 6px;
    color: hsl(220, 60%, 30%);
    font-family:  'Playfair Display', Georgia, serif ;

}

h1::first-letter,
 h2::first-letter ,
  h3::first-letter {
font-family:  'Playfair Display', Georgia, serif;
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
    font-family:'Playfair Display', Georgia, serif;
}

/* .noFloat {
    clear: both;
} */

.titleCompetenze {
    color: hsl(220, 30%, 25%);
    font-weight:bold ;
}

#competenze ul li::before {
            content: '⇨';
            margin-right: 5px ;
        } 
         #competenze ul li {
            list-style: none;
         } 


h2 {
    color: hsl(220, 60%, 25%);
}

h2::before{
    content: '\2756';
    color: hsl(45, 90%, 50%);
    margin-right: 3px;
} 

.returnHome {
    margin-top: 20px;
    text-align: center;
}

.returnHome i {
    color: #2b2b2b;
}

.returnHome i:hover {
    
    color: hsl(220, 60%, 20%);
    background-color: hsl(45, 90%, 60%);
    border: 9px solid hsl(45, 90%, 60%);
    border-radius: 50%;
}


.progetti h3 {
    color: hsl(220, 30%, 25%);
}

.skillList {
    padding: 0px;
}

.skillList:nth-child(even) {
    background-color: #e9ebee;
}
.skillList:nth-child(odd) {
    background-color: #ffffff;
}

.progect {
    margin-top: 10px;
    background-color: #e9ebee;
    padding: 20px;
    border-radius: 8px;
}

.progect:nth-child(even){
    border-left: 3px solid hsl(220, 60%, 30%);
}
.progect:nth-child(odd){
    border-left: 3px solid hsl(45, 90%, 50%);
}

.progectRicetta::after {
    content: '🆕';
}

.gitHubLink {
    text-decoration: none ;
    color: hsl(220, 60%, 30%);
}

.gitHubLink:hover {
    color: hsl(220, 60%, 45%);
    text-decoration: underline 2px hsl(45, 90%, 50%);
}

/* .gitHubLink::before {
    content: '🐈‍⬛' ;
    text-decoration: none ;
} */

.progectHome {
    text-decoration: none;
    color: hsl(220, 60%, 30%);
    text-decoration: underline 2px hsl(45, 90%, 50%);
    display: table;
    margin-left: auto;
    margin-top: 15px;
}

.progectHome:hover {
    color: hsl(220, 60%, 45%);
}


#chi-sono {
    margin-top: -30px;
}


section{
    border: 0.3px #e6e0d3;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 1 4px 16px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 15px;
}

article {
    margin-left: 10px;
}


label {
    font-family: 'Helvetica,Arial,sans-serif';
    color: #1f3d7a;
    font-weight: bold;
    
}

.input {
    width: 90%;
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    margin-bottom: 15px;
    border: 1px solid #d6cfbf;
    border-radius: 4px;
}



input:hover,
textarea:hover {
    
    color: #ffffff;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #fbf8f1;
    border: hsl(220, 60%, 30%)
}


.btnInvia {
    color: aliceblue;
    background-color: hsl(220, 60%, 30%);
    width: 30%;
    padding: 12px 24px;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1) ;
    transition: 0.2s;
}

.btnInvia:hover {
    background-color:  hsl(220, 60%, 45%);
    padding: 12px 24px;
    box-shadow: 3px 3px 8px  rgb(36, 36, 36) ;
}

.btnInvia:active{
    size: 1em;
    box-shadow: 1px 1px 2px rgb(36, 36, 36) ;
    background-color: hsl(220, 60%, 30%);
}

footer {
    width: 100%;
    background-color: hsl(220, 40%, 15%);
    color: #ffffff;
    text-align: center;
    padding: 3px;
    height: 100px;
}

/* footer a{
    margin-top: 5px;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.08); 
} */

footer a i:hover {
    color: hsl(220, 60%, 20%);
    background-color: hsl(45, 90%, 60%);
    border: 5px solid hsl(45, 90%, 60%);
    border-radius: 50%;
}

footer a i{
    border: 5px solid rgba(255, 255, 255, 0.08);;
    border-radius: 50%;
    margin: 10px;
    color:  white;
    
}

footer p {
    font-size: 0.7em;
}

.esperienze:nth-of-type(table) {
text-align: center;
}

.CenterForm {
        display: table;
        margin: 0 auto;
        width: 90%;
       }

         /* TABELLA COMPETENZE */
       .TableCenter, .table {
        display: table;
        margin: 0 auto;
       } 

       

        
         #tableCompetenze {
 border-collapse: collapse; 
 color: black;  
}
         #tableExp {
 border-collapse: collapse; 
 color: black;  
}
.captionCompetenze {
    color: hsl(220, 30%, 40%);
    text-align: start;
   
}

.theadCompetenze {
    border-radius: 50px;
    margin-top: 15px;
}
#tableCompetenze thead tr th{
    padding: 15px;
   
}
#tableCompetenze thead tr {
   color:hsl(220, 30%, 40%);
   }

   #tableCompetenze thead tr th:first-child{
    background-color: #f4f1ec;
    border-radius: 5px 0px 0px 0px ;
    }

#tableExp thead tr {
   color:hsl(220, 30%, 40%);
    }

#tableExp thead tr th{
    padding: 15px;
    background-color: #f4f1ec;
    }
#tableExp thead tr th:first-child{
    background-color: #f4f1ec;
    border-radius: 5px 0px 0px 0px ;
    }

    #tableExp thead tr th:nth-of-type(3){
        background-color: #f4f1ec;
        border-radius: 0px 5px 0px 0px;
    }
    #tableCompetenze thead tr th:nth-of-type(2){
        background-color: #f4f1ec;
        border-radius: 0px 5px 0px 0px;
    }


.spanCompetenze {
    color: hsl(220, 30%, 40%);
    font-size: 0.8em;
}

.thCompetenze{
  padding: 12px;         
  text-align: left;
  border-bottom: 1px solid #ece6d8; 
}

#tableCompetenze tbody tr:nth-child(1) th:first-child::before {
    content: '🌐 |';
}
#tableCompetenze tbody tr:nth-child(2) th:first-child::before {
    content: '🎨 |';
}
#tableCompetenze tbody tr:nth-child(3) th:first-child::before {
    content: '>_ |';
}
#tableCompetenze tbody tr:nth-child(4) th:first-child::before {
    content: ' 🗁 |';
}
#tableCompetenze tbody tr:nth-child(5) th:first-child::before {
    content: 'ℳ |';
}
